name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
  push:
    branches: [main, alpha, beta]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  autofix:
    name: autofix
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Setup Tools
        uses: ./.github/setup
      - name: Fix formatting
        run: pnpm run format
      - name: Apply fixes
        uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
        with:
          commit-message: 'ci: apply automated fixes'
