name: Release

on:
  push:
    branches: [main, alpha, beta]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

permissions:
  contents: write
  id-token: write
  pull-requests: write
  issues: write

jobs:
  release:
    name: Release
    if: github.repository_owner == 'TanStack'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Setup Tools
        uses: ./.github/setup
      - name: Run Tests
        run: pnpm run test:ci
      - name: Run Changesets (version or publish)
        id: changesets
        uses: changesets/action@v1.6.0
        with:
          version: pnpm run changeset:version
          publish: pnpm run changeset:publish
          commit: 'ci: Version Packages'
          title: 'ci: Version Packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Comment on PRs and issues about release
        if: steps.changesets.outputs.published == 'true'
        uses: ./.github/comment-on-release
        with:
          published-packages: ${{ steps.changesets.outputs.publishedPackages }}
